<div class="container">
    <h5 style="margin-top:2rem">Detalhes da Empresa</h5>
    <%= link_to "Voltar", :back, class: "btn btn-primary btn-sm btn-warning" %>
    <div class="d-flex flex-column align-items-center justify-content-center card company" style="min-width:499px;margin-top:1rem;font-size:0.7rem;padding:0.4rem">
        <%= form_with model: [:client, @company] do |form| %>
            <dl>
                <dt><%= form.label :fantasy_name %></dt>
                <dd><%= form.text_field :fantasy_name %></dd>

                <dt><%= form.label :cnpj %></dt>
                <dd><%= form.text_field :cnpj, maxlength: 18, minlength: 18 , onkeypress: 'formatCpfCnpj(this,cpfCnpj)' %></dd>

                <dt><%= form.label :corporate_name %></dt>
                <dd><%= form.text_field :corporate_name %></dd>

                <dt><%= form.label :billing_address %></dt>
                <dd><%= form.text_field :billing_address %></dd>

                <dt><%= form.label :billing_email %></dt>
                <dd><%= form.text_field :billing_email %></dd>

                <dt><%= form.label :company_admin_email %></dt>
                <dd><%= form.text_field :company_admin_email, disabled: true %></dd>

                <dt><%= form.label :company_token %></dt>
                <dd><%= form.text_field :company_token, disabled: true %></dd>

                <dt><%= form.label :status %></dt>
                <dd><%= form.text_field :status, disabled: true %></dd>

            </dl>
            <%= form.submit t('.submit'), class: 'btn btn-success' %>
        <% end %>
    </div>
</div>