<div class="container">
  <h5 class="" style="margin-top:2rem">Dashboard</h5>

  <div class="row" style="margin-top:10rem">
    <div class="col">
      <%= link_to "Cobranças Efetivadas","#", class: "h5" %>
    </div>
    <div class="col">
      <%= link_to "Meios de pagamento",  client_payment_methods_path, class: "h5" %>
    </div>
    <div class="col">
      <%= link_to "Empresa", client_company_path(@company), class: "h5" %>
    </div>
    <div class="col">
      <%= link_to "Meus Produtos", "#", class: "h5" %>
    </div>
    <div class="col">
      <%= link_to "Cobranças Pendentes", "#", class: "h5" %>
    </div>
  </div>
</div>