<section class="container d-flex align-items-center justify-content-center">
  <div class="row align-items-center justify-content-center">
    <div class="col">
      <p class="h5">Receba pagamentos, e resolva suas finanças em um só lugar</p>
    </div>
    <div class="col">
      <%= image_tag "services-1.png", style: "width:30%"%>
      <%= image_tag "services-2.png", style: "width:30%"%>
      <%= image_tag "services-3.png", style: "width:30%"%>
      <div></div>
      <%= image_tag "pix.png", style: "width:30%"%>
      <%= image_tag "boleto_bancario.png", style: "width:30%"%>
      <%= image_tag "cartao_de_credito.png", style: "width:30%"%>
    </div>
    <div class="col">
      <p class="h5">Venda com mais meios de pagamento e tenha seu dinheiro na hora</p>
    </div>
  </div>  
</section>
