<section class="container d-flex flex-column align-items-center justify-content-center">
  <h3 class="h3"><%= t('.title') %></h3>
  <div class="card d-flex flex-column align-items-center justify-content-around company_form">
    <%= form_with model: [:register, @company] do |form| %>
      <div class="field">
        <%= form.label :fantasy_name %>
        <%= form.text_field :fantasy_name %>
      </div>
      <div class="field">
        <%= form.label :cnpj %>
        <%= form.text_field :cnpj, maxlength: 18, minlength: 18, class: "cpfcnpj" %>
      </div>
      <div class="field">
        <%= form.label :corporate_name %>
        <%= form.text_field :corporate_name %>
      </div>      
      <div class="field">
        <%= form.label :billing_address %>
        <%= form.text_field :billing_address %>
      </div>      
      <div class="field">
        <%= form.label :billing_email %>
        <%= form.text_field :billing_email %>
      </div>      
      <div class="field">
        <%= form.label :company_admin_email %>
        <%= form.text_field :company_admin_email %>
      </div>
      <div class="mb-4 ms-4 text-center form-check form-switch">
        <%= form.check_box :check_box, class:"form-check-input fs-4", id:"flexSwitchCheckDefault" %>
        <%= form.label "Declaro que as informações são verdadeiras 
                        e concordo com termos de uso e política de privacidade", 
                        class:"form-check-label fs-6", for:"flexSwitchCheckDefault" 
        %>
        <label class="form-check-label fs-6" for="flexSwitchCheckDefault"></label>
      </div>
      <div class="actions">
        <%= form.submit t('.submit'), class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</section>