<section class="container d-flex flex-column align-items-center justify-content-center">
  <h3 class="h3"><%= t('.title') %></h3>
  <div class="d-flex flex-column align-items-center justify-content-center card">
  <%= form_with model: [:register, @client] do |form| %>
      <div class="field">
        <%= form.label :email %>
        <%= form.email_field :email, autofocus: true, autocomplete: "email", placeholder:  'Digite seu email', value: "@#{params[:pattern]}" %>
      </div>
      <div class="field">
        <%= form.label :password %>
        <%= form.password_field :password, minlength: 6, placeholder: "Mínimo 6 caracteres", autocomplete: "senha" %>
      </div>
      <div class="field">
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation, minlength: 6, placeholder: "Mínimo 6 caracteres", autocomplete: "senha" %>
      </div>
      <div class="field">
        <%= form.label :company_id %>
        <%= form.text_field :company_id, value: params[:id], hidden: true  %>
      </div>
      <div class="field">
        <%= form.text_field :fantasy_name, value: params[:name], disabled: true, style: "text-align:center"  %>
      </div>
      <div class="actions">
        <%= form.submit t('.submit'), class: 'btn btn-success' %>
      </div>
      <% end %>
  </div>
</section>
