<!DOCTYPE html>
<html>
  <head>
    <title>Paynow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="./public/favicon.png" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light d-flex justify-content-around" style="height:12vh;">
      <h1 style="text-align:center;" class="text-center">Área do Administrador</h1>

      <div class="">
        <% if admin_signed_in? %>
          <span><%= current_admin.email %></span>
          <%= link_to 'Sair', destroy_admin_session_path, method: :delete %>
        <% end %>
      </div>
    </nav>
    <article class="container text-center" style="height:83vh">
      <% if notice %>
        <p><%= notice %></p>
      <% end %>
      <% if alert %>
        <p><%= alert %></p>
      <% end %>
      <%= yield %>
    </article>
    
    <footer class="" style="height:5vh">
      <p>Paynow</p>
    </footer>
  </body>
</html>
