<!DOCTYPE html>
<html>
  <head>
    <title>Paynow | Pagamentos digitais</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="favicon.ico" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light d-flex justify-content-center" style="height:12vh;background: linear-gradient(600deg,#28a745 1%, #20c997);">
      <h1 style="text-align:center;" class="h1">Bem vindo ao PayNow</h1>
      <div class="" style="margin-left:10%;position:absolute;right:2%;">
          <button class="btn btn-primary me-md-2" type="button">Login</button>
      </div>
    </nav>

    <main class="container text-center" style="height:83vh">
      <% if notice %>
        <p><%= notice %></p>
      <% end %>
      <% if alert %>
        <p><%= alert %></p>
      <% end %>
      <%= yield %>
    </main>

    <footer class="navbar d-flex justify-content-center" style="height:40px;background: linear-gradient(600deg,#28a745 1%, #20c997);">
      <p style="text-align:center;margin:0;font-size:.7rem">Copyright ©2021 All rights reserved | Paynow Brasil</p>
        <%= link_to 'Área do admin', new_admin_session_path, method: :get, class: "btn btn-outline-danger", style: "position: absolute;right:0;font-size:.7rem" %>
    </footer>
  </body>
</html>
