<!DOCTYPE html>
<html>
  <head>
    <title>Paynow | Pagamentos digitais</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="favicon.ico" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'main', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="d-flex flex-row align-items-center justify-content-center">
      <% if admin_signed_in? %>
        <%= render 'partials/nav_admin' %>
      <% elsif client_signed_in? %>
        <%= render 'partials/nav_client' %>
      <% else %>
        <div></div>
        <%= render 'partials/nav_standard' %>
      <% end %>
    </nav>

    <main>
      <% if notice %>
        <div class="alert alert-success alert-dismissible fade show position-absolute w-100 text-center" role="alert">
          <%= notice %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger alert-dismissible fade show position-absolute w-100 text-center" role="alert">
          <%= alert %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
      <%= yield %>
    </main>

    <footer class="d-flex flex-row align-items-center justify-content-between">
      <%= render 'partials/footer_standard' %>
    </footer>      
  </body>
</html>
